body {
    background-color: gray;
    margin: 0 auto; padding: 20px;

}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    color: rgb(0, 128, 0);
    font-family: Helvetica;
    border: 2px solid brown;
    text-align: center;
}

h3 {
    color: rgb(0, 0, 255);
    text-align: center;
    border: 1px solid brown;
}

h4 {
    color: rgb(0,0,0);
    text-align: center;
    border: 1px solid brown;
}

p {
    display: block;
    
}